* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #004d64;
    border-radius: 30px;
}

p,
ul,
li {
    list-style: none;
}


.header {
    text-decoration: none;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    top: 0;
}

.logo {
    width: 100px;
    max-width: 100%;
    display: block;
}

.logo:hover {
    transform: rotate(5deg);
    transition: all .5s ease;
    width: 105px;

}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.hamburguer {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}

.hamburguer:after {
    content: "";
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: #004d64;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #004d64;
    border-radius: 45px;
    transition: .5s ease;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #004d64;
    box-shadow: 0px 10px 15px #006b8c;
    color: #fff;
    transform: translateY(-2px);
}

.page {
    text-align: center;
    display: block;
    margin: 20px;
}

.page a {
    background-color: transparent;
    padding: 0 2px;
    margin: 0 10px;
    text-decoration: none;
    color: #004d64;
}

.page a:hover {
    transition: .3s;
    color: #333333;
}

body.primeiro .page a#primeiro,
body.segundo .page a#segundo,
body.terceiro .page a#terceiro {
    color: #fff;
    background: #004d64;
    cursor: text;
}


footer {
    padding: 15px;
    background: #004d64;
    color: #fff;
}

footer img {
    padding: 0;
    margin: 0 auto;
    width: 100px;

}

.footer {
    margin-top: -20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.footer>div {
    flex: 1 1 0px;
    margin: 20px;
}

@media (max-width: 600px) {
    .footer {
        display: block;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
    }
    button {
        display: block !important;
        width: 30px;
        height: 30px;
        bottom: 0px;
        background-color: #006b8c;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        z-index: 100;
        border: #fff;
        transition: 0.5s;
    }
    
    button:hover {
        transform: scale(1.1);
    }
    
    button:active {
        background-color: #004d64;
    }
    
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: 80%;
        border-bottom: 15px solid white;
    }
}

.icons {
    padding: 4px;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.icons:hover {
    color: rgb(214, 210, 210);
    transition: .3s;
}


.fa-angle-left,
.fa-angle-right {
    color: #004d64;
    width: 30px;
    height: 30px;
    border: none !important;
}

.box {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}


.container {
    margin: 50px 0;
    width: 250px;
    height: 250px;
    box-shadow: 0px 1px 6px rgba(54, 54, 54, 0.688);
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
}

.container:hover {
    transform: scale(.9);
}

.container:hover:after {
    height: 180px;
}

.container:hover .con-text p {
    margin-bottom: 0px;
    opacity: 1;
}

.container:hover img {
    transform: scale(1.25);
}

.container:hover .ul {
    transform: translate(0);
    opacity: 1;
}

.container:after {
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 130px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.container img {
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
}

.container .con-text {
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}

.container .con-text p {
    font-size: .8rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.container .con-text h2 {
    font-size: 1.3rem;
}

.ul {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 40;
    border-radius: 14px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0;
    opacity: 0;
    transform: translate(100%);
    transition: all .25s ease;
}

.ul li {
    background: #fff;
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: all .25 ease;
    backface-visibility: hidden;
}

.ul li:last-child {
    border-radius: 0px 0px 12px 12px;
}

.ul li:first-child {
    border-radius: 12px 12px 0px 0px;
}

.ul li:hover {
    opacity: 1;
    transform: translate(-7px, -4px);
    border-radius: 6px;
}

.ul li i {
    font-size: 1.4rem;
    color: #000;
}


.card {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    border: #004d64 2px solid;
    margin-bottom: 150px;
}

.card a {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #004d64bb;
    border-radius: 45px;
    transition: .5s ease;
    text-decoration: none;
}

.card a:hover {
    background-color: #004d649b;
    box-shadow: 0px 10px 10px #006b8cc0;
    color: #fff;
    transform: translateY(-2px);
}

.center {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #004d64bb;
}

.logo1 {
    opacity: .5;
    margin-top: 30px !important;
    margin: 0 auto;
    width: 100px;
    max-width: 100%;
    display: block;
}

.logo1:hover {
    transform: rotate(5deg);
    transition: all .5s ease;
    width: 105px;

}

/* From uiverse.io by @AqFox */
button {
    display: none;
    width: 30px;
    height: 30px;
    bottom: 0px;
    background-color: #006b8c;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    border: #004dff;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: #020cd1;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 80%;
    border-bottom: 15px solid white;
}